.featuredLists {
    margin: 7px 0;
    overflow: hidden;
}

.row {
    margin-left: -3px;
    margin-right: -3px;
    overflow: hidden;
}

.featuredLists .featuredListCol {
    float: left;
    width: 33.3%;
    padding-left: 3px;
    padding-right: 3px;
    min-height: 1px;
}

.featuredLists :global(.featured-list) {
    background: #fff;
}

.more {
    font-size: 12px;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: right;
    font-family: "roboto_condensedregular", sans-serif;
    padding: 5px;
}
