.timelineAction {
    text-align: center;
    position: relative;
    font-family: "roboto_condensedregular", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 1;
    color: #868585;
}

.timelineAction span {
    display: inline-block;
    vertical-align: top;
}

.timelineActionLike {
    position: absolute;
    left: 0;
    top: 0;
}

.timelineActionShare {
    position: absolute;
    right: 0;
    top: 0;
}

.timelineActionIcon {
    font-size: 14px;
    font-size: 1.4rem;
    color: #59dede;
    margin-right: 10px;
}
