.trainingWeek {}

.trainingWeekHero {
    position: relative;
    overflow: hidden;
    padding-top: 71px;
    color: rgba(255, 255, 255, 0.73);
    text-align: center;
    font-weight: 200;
    line-height: 1;
    padding-bottom: 30px;
}

.trainingWeekHero :global(.blurred-bg) {
    z-index: -1;
}

.filter span {
    display: inline-block;
    border: 1px solid;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    font-size: 11px;
    font-size: 1.1rem;
    text-align: center;
    padding: 7px 0;
    line-height: 1;
    margin: 0 2px;
}

.filter {
    position: absolute;
    left: 0;
    padding-left: 10px;
}

.title {
    font-size: 21px;
    font-size: 2.1rem;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 12px;
    font-size: 1.2rem;
    margin-bottom: 50px;
}


/* List header */

.listHeader {
    overflow: hidden;
    text-transform: uppercase;
    color: #bbb;
    font-size: 11px;
    font-size: 1.1rem;
    padding: 5px 10px;
}

.addAll {
    float: right;
}

.listHeaderTitle {
    float: left;
    padding: 7px 0;
    line-height: 1;
}

.addAll i {
    font-size: 24px;
    font-size: 2.4rem;
}

.addAll > * {
    vertical-align: top;
    line-height: 1;
}

.addAll > span {
    display: inline-block;
    padding: 7px 5px;
}

.itemMedia {
    width: 45%;
    min-height: 100px;
    max-width: 160px;
    float: left;
}

.itemDetails {
    width: 55%;
    float: left;
    height: 100px;
    padding: 12px;
    font-size: 13px;
    font-size: 1.3rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
}

.trainingWeekHeader {
    overflow: hidden;
    background-color: #fff;

}

.itemDetailsDesc {
    font-size: 1rem;
}
